<robot name="block">
  <link name="block">

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.1" />
      <inertia  ixx="0.00003375" ixy="0.0"  ixz="0.0"  iyy="0.00003375"  iyz="0.0"  izz="0.00003375" />
    </inertial>

    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.085 0.085 0.045" />
      </geometry>
      <material name="red">
        <color rgba="0.4 0.4 1.0 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.085 0.085 0.045" />
      </geometry>
    </collision>

  </link>


</robot>
